<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="phpunit-bootstrap.php">
    <testsuites>
        <testsuite name="Brick\Geo test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src</directory>
    </whitelist>
</phpunit>
